# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
objects/
folkets_en_sv_public.xml
folkets_sv_en_public.xml
macfolket.sublime-workspace
Dictionary Development Kit
jing-20091111
*.swp
words.xml
