<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>org.loessl.dictionary.sven</string>
	<key>CFBundleName</key>
	<string>SV-EN</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4.5</string>
	<key>DCSDictionaryCopyright</key>
	<string>Code from Christopher Loessl. Dataset from Folkets lexikon</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Christopher Loessl</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
<!--
	<key>DCSDictionaryPrefsHTML</key>
	<string>MyDictionary_prefs.html</string>
	<key>DCSDictionaryXSL</key>
	<string>MyDictionary.xsl</string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
		<key>pronunciation</key>
		<string>0</string>
		<key>display-column</key>
		<string>1</string>
		<key>display-picture</key>
		<string>1</string>
		<key>version</key>
		<string>1</string>
	</dict>
-->
</dict>
</plist>
